* {
  box-sizing: border-box;
}

body {
  background: var(--color-primary-tint-300);
  color: var(--color-primary-shade-200);
  font-family: var(--font-system-sans);
  margin: 0.5em;
}

section {
  border: 8px solid var(--color-primary-base);
  margin-bottom: 2em;
  padding: 2em;
}

h1 {
  font-family: var(--font-system-sans);
}

h2 {
  font-family: var(--font-system-mono);
}
